<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dishy</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/landing/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="/static/landing/img/dishy-logo-01.svg" class="navbar-left-logo">
        </div>
        <div class="navbar-right">
            <a href=""><span class="nav-item">Join Us</span></a>
            <a href=""><span class="nav-item">How Does It Work?</span></a>
        </div>
    </div>

    <div class="body">
        <span class="tagline">Clean dishes at the push of a button.</span>
        <div>
            <span class="tagline-sub">Austin, TX • More Cities Coming Soon!</span>
        </div>
        <div class="cta">
            <form>
                <input type="text" name="email" placeholder="you@email.com"><br>
                <input type="submit" class="submit-button" value="Keep Me Up to Date">
            </form>
        </div>
    </div>

    <div class="footer">        
    </div>


    <script src="/static/landing/js/main.js"></script>
</body>
</html>